<!-- myapp/templates/order_detail.html -->

{% extends 'base.html' %}

{% block title %}Order Detail{% endblock %}

{% block header %}Детализация заказов{% endblock %}

{% block content %}
    <h2>Заказ #{{ object.id }}</h2>
    <p>Клиент: {{ object.client.name }}</p>
    <p>Общая сумма: {{ object.total_amount }}</p>
    <p>Дата заказа: {{ object.order_date }}</p>
    <ul>
        <li><strong>Продукты:</strong></li>
        {% for product in object.products.all %}
            <li>{{ product.name }} - {{ product.price }}</li>
        {% endfor %}
    </ul>
{% endblock %}
