{% extends 'base.html' %}

{% block title %}Product Detail{% endblock %}

{% block header %}Детилизация продукта{% endblock %}

{% block content %}
    <h2>{{ object.name }}</h2>
    <p>Описание: {{ object.description }}</p>
    <p>Цена: {{ object.price }}</p>
    <p>Количество: {{ object.quantity }}</p>
    <p>Дата добавления: {{ object.added_date }}</p>

    {% if object.photo %}
        <img src="{{ object.photo.url }}" alt="{{ object.name }}">
    {% else %}
        <p>Фото отсутствует</p>
    {% endif %}

    <!-- Форма для загрузки фотографии -->
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Загрузить фото</button>
    </form>
{% endblock %}
